:root{
    --thm-font: 'Outfit', 'Inter', sans-serif;
    --thm-headline-font: 'Outfit', 'Inter', sans-serif;
    --thm-base: #ffffff;
    --thm-base-rgb: 255, 255, 255;
    --thm-primary: #FF6525;
    --thm-primary-rgb: 252, 60, 60;
    --thm-secondary: #0000fe;
    --thm-secondary-rgb: 0, 0, 254;
    --thm-border: #EBF2F3;
    --text-color: hsl(240, 1%, 48%);
}

.activity-card{
    border: 2px dashed #ddd;
    box-shadow: none;
    padding: 18px;
    margin-bottom: 5px;
    background-color: #fff;
    border-radius: 10px;
}
.activity-img{
    overflow: hidden;
    border-radius: 10px;
}

.price-badge{
    top: 15px;
    color: #fff;
    right: 0;
    z-index: 1;
    font-weight: 700;
    padding: 2px 15px;
    position: absolute;
    background-color: #FF6525;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}
.activity-text{
    margin-top: 0;
    padding: 0 0 0 20px;
    max-width: 300px;
}
.activity-title-head h3{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.556;
    transition: 0.3s all ease-in-out;
}
.activity-features{
    display: flex;
    width: 100%;
    right: 3px;
    padding-top: 5px;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: inherit;

    .icon-text{
        font-weight: 500;
        color: #677283;
        padding: 4px 12px 4px 6px;
        background-color: #eef1f5;
        display: inline-block;
        transition: all 500ms ease;
        margin: 3px;
        border-radius: 24px;
    }
}

.secSlider{
    button{
        width: 60px;
        height: 60px;
        font-size: 18px;
        line-height: 60px;
        margin-left: 25px;
        text-align: center;
        border-radius: 100%;
        display: inline-block;
        border: 2px solid #ff5520;
        transition: 0.3s all ease-in-out;
    }
}
.featured-title{
    span{
    font-size: 18px;
    font-weight: 700;
    color: var(--thm-primary);
    position: relative;
    }
    h2{
    color: #000;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.125;
    padding: 15px 0px 20px;
    }
}
.activity-agent-img{
    width: 35px;
    height: 35px;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 100%;
}
.activity-agent-text{
    h4{
    color: #000;
    font-family: var(--thm-headline-font);
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    margin: 0;
    }
    span{
        font-size: 13px;
    }
}
.activity-btn{
    height: 30px;
    min-width: 30px;
    margin-top: 5px;
    line-height: 30px;
    text-align: center;
    background-color: #fff;
    transition: 0.3s all ease-in-out;
    border: 2px solid var(--thm-primary);
    border-radius: 50px;
}