// :root {
//     --thm-font: 'Outfit', 'Inter', sans-serif;
//     --thm-headline-font: 'Outfit', 'Inter', sans-serif;
//     --thm-base: #ffffff;
//     --thm-base-rgb: 255, 255, 255;
//     --thm-primary: #FF6525;
//     --thm-primary-rgb: 252, 60, 60;
//     --thm-secondary: #0000fe;
//     --thm-secondary-rgb: 0, 0, 254;
//     --thm-border: #EBF2F3;
//   }

//   .header {
//     position: fixed;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     background: transparent;
//     width: 100%;
//     padding: 1rem;
//     z-index: 1000;
  
//     .brand-logo img {
//       max-height: 50px;
//     }
//   }
  
//   .logo {
//     color: var(--thm-primary);
//     font-weight: 600;
//     cursor: pointer;
//     align-items: center;
//     justify-content: center;
  
//     .icon {
//       font-size: 25px;
//       color: var(--thm-primary);
//       transform: translateY(5px);
//     }
//   }
  
//   .navBar {
//     display: none;
//   }
  
//   .activeNavbar {
//     display: block;
//     position: absolute;
//     background-color: #ffff;
//     height: max-content;
//     width: 80%;
//     border-radius: 1rem;
//     top: 6rem;
//     left: 50%;
//     transform: translate(-50%);
//     z-index: 2000;
//     box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
//     transition: .3s ease-in-out;
//   }
  
//   .navLists {
//     flex-direction: column;
//     justify-content: center;
//     width: 100%;
//     margin: auto;
//     padding: .5rem 0;
  
//     .navItem {
//       padding: .5rem 0;
  
//       .navLink {
//         color: #A9A9A9;
//         font-size: .9rem;
//         font-weight: 600;
//         &:hover {
//           color: var(--thm-primary);
//         }
//       }
//     }
  
//     .btn {
//       margin-top: 1rem;
  
//       a {
//         font-weight: 400;
//         color: #ffffff;
//       }
//     }

//     .navBarsection{
//       .activeHeader{
//         background: var(--thm-base);
//         box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.45);
//       }
//     }
//   }
  
//   .closeNavbar {
//     position: absolute;
//     top: 1rem;
//     right: 1.5rem;
//     color: var(--thm-primary);
//   }
  
//   .toggleNavbar {
//     .icon {
//       font-size: 25px;
//       color: var(--thm-primary);
//     }
//     &:hover .icon {
//       color: var(--thm-secondary);
//     }
//   }
  
//   @media screen and (max-width: 768px) {
//     .navBar {
//       position: absolute;
//       height: max-content;
//       padding: 1rem;
//       width: 100%;
//       top: 0;
//       left: 0;
//       box-shadow: 0 2px 4px rgba(209, 209, 209, 0);
//       transition: .5s ease;
//       z-index: 1000;

//       .navLists{
//         flex-direction: column;
//         justify-content: center;
//         width: 100%;
//         margin: auto;

//         .navItem{
//           padding: 1rem 0;

//           .navLink{
//             color: var(--thm-font);
//             font-size: .9rem;
//             font-weight: 600;
//             &:hover{
//               color: var(--thm-primary);
//             }
//           }
//         }
//       }
//     }
  
//     .activeNavbar {
//       display: block;
//     }
//   }
  
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  
  .navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease;
  }

  .navbar-logo img {
    width: 100px; /* Adjust size as needed */
  }

  .navbar-menu-icon {
    display: none;
    cursor: pointer;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .navbar-links {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px; /* Adjust based on the height of your navbar */
      left: 0;
      width: 100%;
      background-color: white;
      z-index: -1;
      transition: top 0.3s ease;

      &.open {
        display: flex;
        top: 60px; /* Adjust based on the height of your navbar */
      }
    }

    a {
      margin-left: 2rem;
      color: #333;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
        color: #666;
      }

      @media (max-width: 768px) {
        margin: 1rem 0;
      }
    }

    .user-icon {
      margin-left: 2rem;
      color: #333;
      cursor: pointer;

      @media (max-width: 768px) {
        margin: 1rem 0;
      }
    }
  }
}
