@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --thm-font: 'Outfit', 'Inter', sans-serif;
  --thm-headline-font: 'Outfit', 'Inter', sans-serif;
  --thm-base: #ffffff;
  --thm-base-rgb: 255, 255, 255;
  --thm-primary: #FF6525;
  --thm-primary-rgb: 252, 60, 60;
  --thm-secondary: #0000fe;
  --thm-secondary-rgb: 0, 0, 254;
  --thm-border: #EBF2F3;
  --text-color: hsl(240, 1%, 48%);
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.section{
  padding: 4rem 0 2rem;
}
.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.icon{
  font-size: 2rem;
  cursor: pointer;
}
.flex{
  display: flex;
  align-items: center;
}
.grid{
  display: grid;
  align-items: center;
}
.btn{
  padding: .6rem 1.5rem;
  background: local;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn:hover{
  background: local;
}
img, video{
  width: 100%;
  height: auto;
}
body{
  background: var();
}
.secIntro{
  max-width: 70%;
  text-align: center;
  margin: 0 auto 2rem;
}

.secIntro .secTitle{
  color: black;
  line-height: 1.5rem;
  padding-bottom: .5rem;
}
.secIntro p{
  font-size: 13px;
  color: var(--text-color);
  font-weight: 500;
}
input{
  font-size: 100%;
}
img, video{
  width: 100%;
  height: auto;
}

